.login{
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
        rgba(225,225,0,0),
        rgba(225,225,0,0)
    )
    ,url("https://img.freepik.com/free-vector/hand-drawn-minimal-background_23-2149001650.jpg?w=2000");
    background-size: cover;
}
.loginTitle{
    font-size: 50px;
    font-family: 'Lora', serif;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm > label{
    margin: 10px 0;
}

.loginInput{
    padding: 10px;
    background-color: #ffffb7;
    border: none;
}

.loginBtn{
    cursor: pointer;
    margin-top: 20px;
    border: none;
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: #800040;
    border-radius:10px;
    padding: 10px;
}

.loginRegisterBtn{
    position: absolute;
    top: 60px;
    right: 20px;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: #4646ff;
    border-radius:10px;
    padding: 10px;
}